name: CD - Deploy Backend

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - backend/**
jobs:
  deploy:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:15.2
        env:
          POSTGRES_USER: jazy
          POSTGRES_PASSWORD: password
          POSTGRES_DB: customer
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    defaults:
      run:
        working-directory: ./backend
    steps:
      - uses: actions/checkout@v4
      - name: Starting Deployment Notification
        run: >
          curl -X POST -H 'Content-type: application/json' 
          --data '{"text":"Deployment Started :battery_charge:"}' 
          ${{ secrets.SLACK_WEBHOOK_URL }}
      - uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '17'
          cache: 'maven'
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set Build number
        id: build-number
        run: echo "BUILD_NUMBER=$(date '+%d.%m.%Y.%H.%M.%S')" >> $GITHUB_OUTPUT
      - name: Build Package Push with Maven
        run: mvn -ntp -B verify -Ddocker.image.tag=${{steps.build-number.outputs.BUILD_NUMBER}} jib:build
      - name: Version And Maven Package Notification
        run: >
          curl -X POST -H 'Content-type: application/json' 
          --data '{"text":":apache_maven: deployment version - ${{steps.build-number.outputs.BUILD_NUMBER}} && Maven Build Successfully"}' 
          ${{ secrets.SLACK_WEBHOOK_URL }}
      - name: Update Dockerrun.aws.json api image tag with new build number
        run: |
          echo "Dockerrun.aws.json before updating tag"
          cat Dockerrun.aws.json
          sed -i -E 's_(jazy377/jazy-api:)([^"]*)_\1'${{steps.build-number.outputs.BUILD_NUMBER}}'_' Dockerrun.aws.json
          echo "Dockerrun.aws.json after updating tag"
          cat Dockerrun.aws.json
      - name: Deploy to EB
        uses: einaregilsson/beanstalk-deploy@v22
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: ${{ secrets.EB_APPLICATION_NAME }}
          environment_name: ${{ secrets.EB_ENVIRONMENT_NAME }}
          version_label: ${{ steps.build-number.outputs.BUILD_NUMBER }}
          version_description: ${{ github.SHA }}
          region: ${{ secrets.EB_REGION }}
          deployment_package: backend/Dockerrun.aws.json
      - name: Deploy to EB completed
        run: >
          curl -X POST -H 'Content-type: application/json' 
          --data '{"text":":aws: Deploy to EB completed successfully"}' 
          ${{ secrets.SLACK_WEBHOOK_URL }}
      - name: Send GitHub Pushing Notification
        run: >
          curl -X POST -H 'Content-type: application/json' 
          --data 
          '{"text":":githubloading: Committing and pushing to repo"}' 
          ${{ secrets.SLACK_WEBHOOK_URL }}
      - name: Commit and Push Dockerrun.aws.json
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "Update Dockerrun.aws.json docker image with new tag ${{steps.build-number.outputs.BUILD_NUMBER}}"
          git push
      - name: Send Slack Notification
        run: >
          curl -X POST -H 'Content-type: application/json' 
          --data 
          '{"text":"Deploy completed successfully :white_check_mark:"}' 
          ${{ secrets.SLACK_WEBHOOK_URL }}
      - name: Send Slack Notification
        if: always()
        run: >
          curl -X POST -H 'Content-type: application/json' 
          --data 
          '{"text":"Job Status ${{ job.status }}"}' 
          ${{ secrets.SLACK_WEBHOOK_URL }}